.nav{
    float: right;
    margin-right: 100px;
}


.nav-link{
    transition: all 0.5s ease-in-out;
    color: rgb(3, 3, 46);
}

.jumbotron{
    background-color:rgba(37, 65, 155, 0.158);
}
.jumbotron img{
    width:150px;
}

.jumbotron h1{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.jumbotron p{
    margin-left: 50px;
}

.row{
    margin-left: 20%;
    margin-bottom: 10px;
}

.work-section{
    margin-left: 20px;
}

.row2{
    margin-left: 20%;
    margin-top: 100px;
}

.row3{
    margin-top: 100px;  
}

.skills-section{
    margin-left: 20px;
}

.row4{
    margin-left:0px;
    margin-top: 100px;
}

.social img{
    width: 40px;
    height:40px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    margin: 100px 50px 0px 50px;
}


.copyright{
    text-align: center;
    padding: 20px 0px 20px 0px;
    width:100%;
}

.card-header{
    font-weight: bold;
}

.list-group-item{
    border: none;
}

.card-body{
    background-size: cover;
    background-color: white;
}

.card img{
    width: 100%;
    height: 400px;
}

.jumbotron{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn{
    background-color: rgba(52, 52, 219, 0.507);
}